.titleanddate {
  justify-content: space-between;
  width: 100%;
  display: flex;
  color: white;
  padding: 1rem;
}

@media screen and (max-width: 1000px) {
  .titleanddate {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .header-post {
    font-size: 0.5rem;
    justify-content: space-between;
  }
}

.header-post {
  justify-content: space-between;
  width: 100%;
  display: flex;
  color: white;
  padding: 1rem;
}

.blog-paragraph {
  color: white;
  padding: 1rem;
  font-family: sans-serif;
}

.blog-paragraph p {
  padding: 1rem 3rem;
  margin: 1rem;
  font-size: 1.2rem;
  font-family: sans-serif;
  display: flex;
  height: 100%;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .blog-paragraph p {
    padding: 0;
    font-size: 1rem;
  }
}

.post-container {
  padding: 1rem;
  border: 2px solid rgb(230, 226, 221);
  border-radius: 1%;
  background-color: rgb(10, 34, 47);
  margin: 1rem 0;
}
