.links {
  padding: 3rem;
  animation: fadeIn linear 1s;
  -webkit-animation: fadeIn linear 1s;
  -moz-animation: fadeIn linear 1s;
  -o-animation: fadeIn linear 1s;
  -ms-animation: fadeIn linear 1s;
}

.link-header {
  font-size: 4vh;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 3vh;
}

.link-url {
  font-size: 2vh;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5vh;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.link-container {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-gap: 8rem;
  grid-template-columns: repeat(3, 1fr);
}

.icon {
  background-color: white;
  padding: 2vh;
  border-radius: 10%;
  transition: ease-out 0.4s;
}

.icon:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.4s;
  cursor: pointer;
}

@media (max-width: 653px) {
  .link-container {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0.8rem;
    margin-left: 8rem;
    margin-right: 8rem;
  }
  .links {
    padding: 0;
  }
  .link-header {
    padding: 1vh;
    font-size: 3vh;
  }
}
