* {
  margin: 0;
  padding: 0;
}

.project-body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: black;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  margin: 20px;
  padding: 20px 20px;
  position: relative;
  text-align: center;
  min-width: 350px;
  max-width: 350px;
  opacity: 0.7;
  height: 550px;
}

.label {
  margin-top: 20px;
  transform: translateY(10px);
  transition: transform 800ms;
}
.card.expanded .label {
  transform: translateY(0);
}

.title {
  font-weight: 700;
  margin: 40px 0 12px;
  color: white;
  font-size: 13px;
}
.body-text {
  padding: 0 20px;
  color: white;
  font-size: 14px;
}

.body-text p {
  padding: 5px 0;
}

.project-svg {
  max-width: 15rem;
  max-height: 15rem;
}

.project-header {
  font-size: 15px;
  color: white;
}

.project-link {
  text-decoration: none;
  color: white;
  padding: 1.5rem 1rem 0 1rem;
  display: flex;
  font-size: 10px;
  justify-content: center;
}
