* {
  margin: 0;
  padding: 0;
}

.project-body {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  animation: fadeIn linear 1s;
  -webkit-animation: fadeIn linear 1s;
  -moz-animation: fadeIn linear 1s;
  -o-animation: fadeIn linear 1s;
  -ms-animation: fadeIn linear 1s;
  height: 80vh;
}

.card {
  background: black;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  height: 300px;
  margin: 20px;
  padding: 20px 20px;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.025);
  text-align: center;
  transition: height 800ms;
  width: 320px;
  opacity: 0.7;
}

.card.expanded {
  height: 640px;
}
.label {
  margin-top: 30px;
  transform: translateY(10px);
  transition: transform 800ms;
}
.card.expanded .label {
  transform: translateY(0);
}
.text1 {
  clip-path: polygon(0% 100%, 0 -90%, 50% -5%, 100% -90%, 100% 100%);
  -webkit-clip-path: polygon(0% 100%, 0 -90%, 50% -5%, 100% -90%, 100% 100%);
  transition: clip-path 800ms;
}
.card.expanded .text1 {
  clip-path: polygon(0% 100%, 0 -100%, 50% -15%, 100% -100%, 100% 100%);
  -webkit-clip-path: polygon(0% 100%, 0 -100%, 50% -15%, 100% -100%, 100% 100%);
}

.text-content {
  transform: translateY(-600px);
  transition: transform 800ms;
}
.card.expanded .text-content {
  transform: translateY(-15px);
}
.chevron {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 15px);
  transform-origin: 50%;
  transform: rotate(180deg);
  transition: transform 800ms;
}
.card.expanded .chevron {
  transform: rotate(0deg);
}
.title {
  font-weight: 700;
  margin: 40px 0 12px;
  color: white;
  font-size: 2vh;
}
.body-text {
  padding: 0 20px;
  color: white;
  font-size: 1.5vh;
}

.body-text p {
  padding: 5px 0;
}

.project-svg {
  max-width: 15rem;
  max-height: 15rem;
}

.project-header {
  font-size: 2rem;
  color: white;
}

.project-link {
  text-decoration: none;
  color: white;
  padding: 1.5rem 1rem 0 1rem;
  display: flex;
  font-size: 1.7vh;
  justify-content: center;
}

@media only screen and (max-width: 1200px) {
  .project-body {
    display: block;
  }
  .card {
    left: calc(50% - 20px);
    transform: translateX(-50%);
  }
}
